
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Water Them Plants, Girl!</title>
</head>
<body>
    <nav>
        <div class="top">
            <h5><a href="{% url 'home' %}">Check That Water!</a></h5>
        </div>
        <div class="link_div">
            <p class="link"><a href="{% url 'home' %}">Home</a></p>
            <p class="link"><a href="{% url 'log' %}">Plant Log</a></p>
            <p class="link"><a href="{% url 'addplantpage' %}">Add Plant</a></p>
        </div>
    </nav>
    
    
    <div class="plant_box">
        {% for p in Plants %}
        <div class="box">
            <div class="box_header">
                <h2>{{ p }}</h2>
            </div>
            <div class="box_main">
                <form action="updateplants/{{p}}" method="post">
                    {% csrf_token %}
                    <button type="submit">Water</button>
                </form>
                <form action="fertplants/{{p}}" method="post">
                    {% csrf_token %}
                    <button type="submit">Fertilize</button>
                </form>
            </div>
        </div>
        
        {% endfor %}
    </div>
    
</body>
</html>
