<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Plant Water Log</title>
</head>
<body>
    <nav>
        <div class="top">
            <h5><a href="{% url 'home' %}">Watering Log!</a></h5>
        </div>
        <div class="link_div">
            <p class="link"><a href="{% url 'home' %}">Home</a></p>
            <p class="link"><a href="{% url 'log' %}">Plant Log</a></p>
            <p class="link"><a href="{% url 'addplantpage' %}">Add Plant</a></p>
        </div>
    </nav>
    
    <div class="table_cont">
        <table class="plant_table">
            <tr>
                <th>Delete</th>
                <th>Name</th>
                <th>Last Watered</th>
                <th>Last Fertilized</th>
            </tr>
            {% for x in mymembers %}
              <tr>
                <td><a href="delete/{{ x.plant_id }}">X</a></td>
                <td>{{ x.name }}</td>
                <td>{{ x.water_date }}</td>
                <td>{{ x.fert_date }}</td>
              </tr>
            {% endfor %}
          </table>
    </div>
    
</body>
</html>